.idea
.tags
*.opensdf
*.props
*.pdb
*.pyc
*.pyo
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.DS_Store
*.xcuserstate
*.xcuserdatad/
*~
*.orig
*.cproject
nbproject
output
*.out
*.cmake
.cache/
CMakeCache.txt
CMakeFiles/
.coverage*
.mypy_cache

# for libreoffice
.~*

bin/
gen/
build/
dist/
.gradle/
local.properties

.apt_generated/
*.iml

.svn/

*.xcarchive/
*.ipa
Pods/

*.egg-info

*.log*

sftp-config.json
sftp-config-*.json
.ftpconfig

user_code.py

.ipynb_checkpoints/

# Exception List
*.gv
*.gv.pdf

.pytest*

# auto_save_file
*[#]*[#]
*[#]*

# flake8
.flake8
